@import '../assets/global-styles/sass/_vars.scss';
@import '../assets/global-styles/fonts/FuturaPT_font/stylesheet.css';
@import '../assets/global-styles/fonts/ProximaNova/stylesheet.css';

$gray-two: #F4F3EC;

nav {
    width: 100%;
    height: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $primary-color;
}

.kaplan-logo {
    width: 60px;
    height: 60px;
    left: 10%;
    position: absolute;
    display: inline-block;
}

.nav-title {
    height: 25px;
    width: 70px;
    color: #FFFFFF;
    font-family: "Futura PT";
    font-size: 19px;
    font-weight: bold;
    left: 20%;
    top: -8px;
    position: absolute;
    line-height: 25px;
    display: inline-block;
}

.top-container {
    position: relative;
    top: 50px;
    width: 80%;
    left: 10%;
}

.container {
    position: relative;
    top: 200px;
    width: 80%;
    left: 10%;
    background-color: white;
}

.back-to-home {
	height: 22px;
	width: 131px;
	color: #555555;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
    text-decoration: none;
    top: 40px;
    position: absolute;
}

#mpq {
    height: 22px;
    width: 167px;
    color: $primary-color;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

#mpq-topics {
    height: 15px;
    width: 85px;
    color: $primary-color;
    font-family: "Proxima Nova";
    font-size: 12px;
    line-height: 15px;
}

#mpq-percentage {
    height: 87px;	
    width: 166.97px;	
    color: $primary-color;	
    font-family: "Proxima Nova";	
    font-size: 72px;	
    font-weight: 600;	
    line-height: 87px;
}

.mpq-indicator {
    height: 15px;
    width: 61.78px;
    color: #555555;	
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
}

.mpq-icon {
    text-align: center;
}

.quiz-review {
	height: 46px;
	width: 214px;
	color: $primary-color;
	font-family: "Futura PT";
	font-size: 36px;
	font-weight: bold;
	line-height: 46px;
    position: absolute;
    top: 60px;
}

.primary-button {
    height: 42px;
    border-radius: 2px;
    background-color: #FFC82E;
    color: #1E0576;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 600;
    border: none;
    line-height: 20px;
    text-align: center;
    min-width: 100px;
}

.secondary-button {
    height: 42px;
    border-radius: 2px;
    background-color: $secondary-color;
    color: white;
    font-family: "Proxima Nova";
    font-size: 16px;
    border: none;
    line-height: 20px;
    text-align: center;
    min-width: 100px;
}

#overall-performance {
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    right: 0;
    top: 80px;
}

.quiz-stats {
    padding: 20px;
}

// FLEXBOX 
.flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 10px;
    }

@media (max-width: 500px) {
    .nav-title {
        display: none;
    }

    #overall-performance {
        left: 0;
        display: inline-block;
        top: 150px;
    }

    .container {
        top: 260px;
    }

    .mpq-flex-container {
    overflow: auto;
    }

}

    
.mpq-flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
     -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.mpq-flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 10px;
    }

.mpq-review {
    width: 80%;
}

.mpq-gray {
    background-color: $gray-two;
}