@import 'node_modules/@abot/atom-web-higgs/src/global-styles/sass/_vars';

// TODO: We will replace this navigation w/ global nav once higgs is working
nav {
    width: 100%;
    height: 42px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $primary-color;
}

nav > h2 {
    color: #FFFFFF;
    font-family: "Futura PT", sans-serif;
    font-size: 19px;
    font-weight: bold;
    left: 20%;
    position: absolute;
    line-height: 25px;
    display: inline-block;
}

.kaplan-logo {
    width: 60px;
    height: 60px;
    left: 10%;
    position: absolute;
    display: inline-block;
}

.quiz-review__header {
    position: relative;
    top: 50px;
    width: 80%;
    left: 10%;
}

.quiz-review__header > a {
	color: $grey-color--one;
	font-family: "Proxima Nova", sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
    text-decoration: none;
    top: 40px;
    position: absolute;
}

.quiz-review__header > a:hover {
	text-decoration: underline;
}

.quiz-review__header > p {
    color: $grey-color--one;	
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
}

.quiz-review__container {
    position: relative;
    top: 200px;
    width: 80%;
    left: 10%;
    background-color: white;
}

.icon-indicator {
    height: 12px;
    padding-right: 5px;
    display: inline-block;
}

.num {
    color: $grey-color--one;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
}

.quiz-review {
	height: 46px;
	width: 214px;
	color: $primary-color;
	font-family: "Futura PT", sans-serif;
	font-size: 36px;
	font-weight: bold;
	line-height: 46px;
    position: absolute;
    top: 60px;
}

#overall-performance {
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    right: 0;
    width: 250px;
    top: 80px;
}

// FLEXBOX 
.quiz-stats {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px;
    }

.quiz-stats__marker, 
.quiz-stats__item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    padding: 10px;
    text-align: center;
}

.quiz-stats__item > h2 {
    color: $primary-color;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.quiz-stats__item > p {
    color: $primary-color;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
}

.quiz-stats__marker > p {
    color: $primary-color;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.quiz-stats__item > span {	
    color: $primary-color;	
    font-family: "Proxima Nova", sans-serif;	
    font-size: 72px;	
    font-weight: 600;	
    line-height: 87px;
}
    
.quiz-details__content,
.quiz-details__header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
     -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 10px;
    }

.quiz-details__header--title {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight:bold;
}

    .header__question-number{
        align-items: baseline;
    }

    .header__question{
        position: relative; 
        width: 350px;
    }

    .header__topic{
        position: relative; 
        left: -55px;
        width: auto;
    }

    .header__difficulty{
        position: relative; 
        left: -65px;
        width: auto;
    }

    .header__time-spent{
        position: relative; 
        left: -115px;
        width: auto;
    }

    .content__question-number{
        align-items: baseline;
    }

    .content__question{
        position: relative; 
        width: 350px;
    }

    .content__topic{
        position: relative; 
        left: -15px;
        width: auto;
    }

    .content__difficulty{
        position: relative; 
        width: auto;
    }

    .content__time-spent{
        position: relative; 
        width: auto;
    }

.quiz-details {
    padding: 10px;
}

.quiz-details > div:nth-child(even) {
    background-color: $grey-color--three;
}

.bookmark{
    padding-left: 10px;
}


@media (max-width: 600px) {
    .nav-title {
        display: none;
    }

    #overall-performance {
        left: 0;
        display: inline-block;
        top: 150px;
    }

    .quiz-review__container {
        top: 260px;
    }

    .quiz-stats {
    overflow: auto;
    }

    .quiz-details__header{
        display: none;
    }

}